/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this in your global CSS */
.MuiPopover-root,
.MuiPopper-root {
  z-index: 1050 !important; /* Ensure it is higher than the modal's backdrop */
}
.carousel-container {
  width: 100vw; /* Full width of the viewport */
  max-width: 100%;
  overflow: hidden; /* Prevent horizontal scroll if images overflow */
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width of the container */
}
